body{ 
     padding: 25px; 
     text-align: center; 
     font-size: 150%; 
   } 
   .title { 
       color: #070003; 
       
   } 
   .button{ 
       padding: 30px; 
       border-radius: 70%; 
       font-size: 70%; 
       background-color: rgb(89, 163, 212); 
       color: rgb(1, 37, 37); 
       border-color: rgb(1, 37, 37); 
   } 
   div{ 
       padding: 35px; 
       color: red; 
   }
